/* Basic CSS for the navigation bar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #2a2a2a;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }

.logo-title {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Espacio entre el logo-título y el menú */
}
  
.logo {
    width: 55px; /* Ajusta el tamaño del logo según sea necesario */
    height: auto;
    margin-right: 10px; /* Espacio entre el logo y el texto */
}  
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-weight: none;
    font-size: 1;
  }
  
#conditionInput {
    width: 300px;
    padding: 10px;
    border: 2px solid #4CAF50;
    border-radius: 25px;
    outline: none;
    font-size: 16px;
}

#btnSearch {
    padding: 5px 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 25px; /* Fully rounded button */
} 

#btnReset {
    padding: 5px 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 25px; /* Fully rounded button */
}

/* Basic CSS for the form elements */

  body {
    background-image: 
    url("miamibeach.jpg");
    background-size: cover;
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen de fondo */
    /*font-family: Arial, sans-serif;*/
    background-attachment: fixed;
  }
  
  h1 {
    margin-bottom: 10px;
    color: white;
    font-family: 'Times New Roman', Times, serif; 
    font-style: italic; 
  }
  
  div {
    margin-bottom: 10px;
  }
  
  label {
    display: inline-block;
    width: 100px;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 200px;
    padding: 5px;
  }
  
  
  button {
    padding: 7px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
/* Basic CSS for the report section */

.explore {
    margin-top: 100px;
    color: white;
    font-size: 60px;
    padding: 100px 100px;
    font-family: 'Arial', Times, serif;
    font-style: normal;  
    /*border-style : dotted*/
}

.intro {
    margin-top: -180px;
    color: white;
    font-size: 15px;
    padding: 110px 100px;
    font-family: 'Arial', Times, serif; 
    font-style: normal; 
}    
    
.btnBook {
    padding: 15px 30px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin-left: 180px;
    border-radius: 25px; /* Fully rounded button */    
}

/* Recommendation */

.search-Recomm {
    /*border-style: dotted;*/
    text-align: center;
    color: white;
    font-family: 'Arial', Times, serif;
    font-style: normal; 
    margin: -550px 300px 0px 400px;
    padding-left: 30px;

#result{
    text-align: center;
    /*border-style: dotted;*/
    margin-left: 150px;
    padding-left: 0px;
    font-family: 'Arial', Times, serif;
    font-style: normal;
    font-weight: bold;
}

}

/* CSS Social logo. Vertical position */  
.social-icons {
  position: fixed;
  top: 60%;
  left: 8px;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
  border-radius: 10px;
  /*border-style: dotted;*/
}

.social-icons ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.social-icons ul li img {
  width: 35px;
  height: 35px;
}

/* About Section */

.about {
    margin-top: -30px;
    color: white;
    font-size: 70px;
    padding: 100px 100px;
    font-family: 'Arial', Times, serif;
    font-style: normal  
}

.welcome {
    margin-top: -180px;
    color: white;
    font-size: 15px;
    padding: 110px 100px;
    font-family: 'Arial', Times, serif; 
    font-style: normal; 
} 

.team {
    margin: -30px 0px 0px 20px;   
    text-align: center;
    color: white;
    font-size: 60px;
    padding: 0px 0px 0px 0px;
    font-family: 'Arial', Times, serif;
    font-style: normal;
    /*border-style: dotted;*/
    width: 450px;
}

/* Logo TravelBloom */
.logo {
    width: 90px;
    height: auto;
}

/* Members bottons */

.employe {
    display: flex;
    flex-direction: row; /* Cambia la dirección a horizontal */
    padding-left: 50px;
    margin: 0px 0px 0px 600px;
    /*border-style: dotted;*/
    height: fit-content;
    width: 1300px;
    gap: 100px;
    /*border-style: dotted;*/    
}

.employee-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /*border-style: dotted;*/
    height: fit-content;
    width: 150px;
    border-radius: 25px; /* Fully rounded button */
}

#btnCEO {
    border-radius: 25px; /* Fully rounded button */ 
    background: linear-gradient(to top, yellow, green);
}

#btnTL {
    border-radius: 25px; /* Fully rounded button */ 
    background: linear-gradient(to top, yellow, green);
}

#btnDH {
    border-radius: 25px; /* Fully rounded button */ 
    background: linear-gradient(to top, yellow, green);
}

/* Logo members */
.logo-section {
    display: flex;
    flex-direction: row; /* Cambia la dirección a horizontal */
    padding-left: 10px;
    margin: -130px 0px 0px 600px;
    /*border-style: dotted;*/
    height: fit-content;
    width: 1300px;
    gap: 150px;    
}

.logo-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /*border-style: dotted;*/
    height: fit-content;
    width: fit-content;
}

.logo-name {
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: white;
    /*border-style: dotted;*/
    width: fit-content;    
}

.btnBook {
    padding: 15px 30px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin-left: 180px;
    border-radius: 25px; /* Fully rounded button */    
}

/* Contact Section */

.contact {
    margin: 300px 1200px 0px 100px;
    color: white;
    font-size: 50px;
    padding: 10px 20px 10px 0px;
    font-family: 'Arial', Times, serif;
    font-style: normal;  
    /*border-style: dotted;*/
}

.touch {
    margin: 20px 1200px 0px 100px;
    color: white;
    font-size: 20px;
    padding: 20px 20px 20px 0px;
    font-family: 'Arial', Times, serif; 
    font-style: normal; 
    /*border-style: dotted;*/
} 

#report,#result {
    padding: 10px;
    max-width: 400px;
    word-wrap: break-word;
  }

#result{
  height: 400px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

#result img{
    width: 200px;
    height: 100px;
  }

