/* Basic CSS for the navigation bar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #2a2a2a;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }

.logo-title {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Espacio entre el logo-título y el menú */
}
  
.logo {
    width: 55px; /* Ajusta el tamaño del logo según sea necesario */
    height: auto;
    margin-right: 10px; /* Espacio entre el logo y el texto */
}  
  
  nav ul {
    list-style-type: none;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-weight: none;
    font-size: 1;
  }
  
#conditionInput {
    width: 300px;
    padding: 10px;
    border: 2px solid #4CAF50;
    /* border-radius: 25px 0 0 25px; /* Rounded corners on the left */
    border-radius: 25px;
    outline: none;
    font-size: 16px;
}

#btnSearch {
    padding: 5px 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 25px; /* Fully rounded button */
} 


#btnReset {
    padding: 5px 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 25px; /* Fully rounded button */
}


  /* Basic CSS for the form elements */
  body {
    background-image: 
    url("Downtown-Miami.avif");
    font-family: Arial, sans-serif;
  }
  
  h1 {
    margin-bottom: 10px;
    color: white;
    font-family: 'Times New Roman', Times, serif; 
    font-style: italic; 
  }
  
  div {
    margin-bottom: 10px;
  }
  
  label {
    display: inline-block;
    width: 100px;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 200px;
    padding: 5px;
  }
  
  
  button {
    padding: 7px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
.social-icons {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.social-facebook {
    width: 10px; /* Ajusta el tamaño del logo según sea necesario */
    height: auto;
    margin-right: 120px; /* Espacio entre el logo y el texto */
}

.social-instagram {
    width: 10px; /* Ajusta el tamaño del logo según sea necesario */
    height: auto;
    margin-right: 120px; /* Espacio entre el logo y el texto */    
}



/* Basic CSS for the report section */
h2 {
    margin-top: 100px;
    color: white;
    font-size: 50px;
    padding: 0px 180px;
}

  h3 {
    margin-top: -110px;
    color: white;
    font-size: 15px;
    padding: 100px 180px;
    font-family: 'Times New Roman', Times, serif; 
    font-style: italic; 
    }
  
  #report,#result {
    padding: 10px;
    max-width: 400px;
    word-wrap: break-word;
  }
#result{
  height: 400px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
  #result img{
    width: 200px;
    height: 100px;
  }

  
