/* Basic CSS for the navigation bar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #2a2a2a;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }

.logo-title {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Espacio entre el logo-título y el menú */
}
  
.logo {
    width: 55px; /* Ajusta el tamaño del logo según sea necesario */
    height: auto;
    margin-right: 10px; /* Espacio entre el logo y el texto */
}  
  
  nav ul {
    list-style-type: none;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-weight: none;
    font-size: 1;
  }
  
#conditionInput {
    width: 300px;
    padding: 10px;
    border: 2px solid #4CAF50;
    /* border-radius: 25px 0 0 25px; /* Rounded corners on the left */
    border-radius: 25px;
    outline: none;
    font-size: 16px;
}

#btnSearch {
    padding: 5px 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 25px; /* Fully rounded button */
} 


#btnReset {
    padding: 5px 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 25px; /* Fully rounded button */
}


  /* Basic CSS for the form elements */
  body {
    background-image: 
    url("Downtown-Miami.avif");
    background-size: cover;
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen de fondo */
    /*font-family: Arial, sans-serif;*/
    background-attachment: fixed;
  }
  
  h1 {
    margin-bottom: 10px;
    color: white;
    font-family: 'Times New Roman', Times, serif; 
    font-style: italic; 
  }
  
  div {
    margin-bottom: 10px;
  }
  
  label {
    display: inline-block;
    width: 100px;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 200px;
    padding: 5px;
  }
  
  
  button {
    padding: 7px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
/* Basic CSS for the report section */
.explore {
    margin-top: 100px;
    color: white;
    font-size: 70px;
    padding: 100px 180px;
    font-family: 'Arial', Times, serif;
    font-style: normal   
}
    
.intro {
    margin-top: -180px;
    color: white;
    font-size: 15px;
    padding: 110px 180px;
    font-family: 'Arial', Times, serif; 
    font-style: normal; 
}    
    
.btnBook {
    padding: 15px 30px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin-left: 180px;
    border-radius: 25px; /* Fully rounded button */    
}
     

/* CSS Social logo. Vertical position */  
.social-icons {
  position: fixed;
  top: 60%;
  left: 8px;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
  border-radius: 10px;
}

.social-icons ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.social-icons ul li img {
  width: 35px;
  height: 35px;
}

/* About Section */

.about {
    margin-top: -30px;
    color: white;
    font-size: 70px;
    padding: 100px 180px;
    font-family: 'Arial', Times, serif;
    font-style: normal  
}

.welcome {
    margin-top: -180px;
    color: white;
    font-size: 15px;
    padding: 110px 200px;
    font-family: 'Arial', Times, serif; 
    font-style: normal; 
} 

.team {
    margin-top: -50px;
    text-align: left;
    color: white;
    font-size: 60px;
    padding: 100px 220px;
    font-family: 'Arial', Times, serif;
    font-style: normal  
}

.transpa {
    background-color: rgba(0, 0, 0, 0.5); /* transparencia */
    padding: 15px 10px 15px 10px;
    /*border-radius: 10px;*/
}

.transpa ul {
    margin-top: -150px;
    display: flex;
    flex-direction: row;
    padding: 0px 780px;
    gap: 200px;
  }

.transpa ul li button {
    padding: 10px 20px; /* Espacio interno del botón */
    font-size: 16px; /* Tamaño de la fuente */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    white-space: nowrap; /* Evita que el texto se envuelva */
    width: auto; /* Ajusta el ancho automáticamente */
    display: inline-block; /* Asegura que el botón se ajuste al contenido */
    width: 180px; /* Ancho fijo para todos los botones */
    height: 40px; /* Altura fija para todos los botones */
}  

.logo-section {
    display: flex;
    flex-direction: row; /* Cambia la dirección a horizontal */
    /*justify-content: flex-start; /* Espacio entre los logos */
    /*align-items: center; /* Centra verticalmente */
    padding-left: 690px;
    /*padding-top: 50px;*/
    /*background-color: lightgray; /* Color de fondo del contenedor */
    /*gap: 10px;*/
}

.logo-item {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    gap: 20px;
    margin-right: 230px;
    /*margin-top: 50;*/
    
}

.logo {
    width: 90px;
    height: auto;
}

.logo-name {
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: white
}


  .btnBook {
    padding: 15px 30px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin-left: 180px;
    border-radius: 25px; /* Fully rounded button */    
}



  #report,#result {
    padding: 10px;
    max-width: 400px;
    word-wrap: break-word;
  }
#result{
  height: 400px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
  #result img{
    width: 200px;
    height: 100px;
  }

/*  
  .btnCEO {
    padding: 15px 30px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin-left: 180px;
    border-radius: 25px; /* Fully rounded button     
}

.btnTeamLead {
    padding: 15px 30px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin-left: 180px;
    border-radius: 25px; /* Fully rounded button   
} 

.btnDeliveryHead {
    padding: 15px 30px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin-left: 180px;
    border-radius: 25px; /* Fully rounded button   
} */
